{% extends 'base.html' %}

{% block content %}


<script>

    function addActorRow() {
        var table = document.getElementById("actorTable");
        console.log(table)
        var newRow = table.insertRow(table.rows.length - 1); // 插入在倒数第二行（倒数第一行是提交按钮）

        var cell1 = newRow.insertCell(0);
        var cell2 = newRow.insertCell(1);
        var cell3 = newRow.insertCell(2);

        cell1.innerHTML = '<tr><label for="actor">actor</label>';
        cell2.innerHTML = '<input type="text" class="form-control" name="actors" autocomplete="off" required></tr>';
        cell3.innerHTML = '<tr><label for="relation">relation</label><input type="text" class="form-control"  name="relations" autocomplete="off" required></tr>';
    }

</script>

<p>{{ new_combined_data|length }} Titles</p>

<form action="/query" method="POST">
    <div>
        <label for="searchType">根据类型查找：</label>
        <select name="searchType" id="searchType">
            <option value="movieName">电影名</option>
            <option value="actorName">演员名</option>
        </select>
        <label for="searchInput">输入关键词：</label>
        <input type="text" name="searchInput" id="searchInput">
        <button type="submit">提交</button>
    </div>
</form>

{% for data in new_combined_data %}
<ul class="movie-list">

    <li>{{ data.movie_name }} - {{ data.year }} - {{ data.release_date }} - {{ data.country }} - {{ data.type }}</li>
    <li>Box Office: {{ data.box }}</li>
    {% for actor in data.actors %}
    <li>Actor: {{ actor.actor_name }} - Gender: {{ actor.gender }} - Country: {{ actor.act_country }}</li>
    <li>
        和本电影的关系 ：
        {% for relations in actor.relations %}

        {{relations.relation_type}}
        {% endfor %}

    </li>


    {% endfor %}
    <li>

        <a class="imdb" href="https://www.imdb.com/find?q={{ data.movie_name }}" target="_blank"
           title="Find this movie on IMDb">IMDb</a>
        <a class="btn" href="{{ url_for('detail_info', movie_id=data.movie_id) }}">详情</a>
        <a class="btn" href="{{ url_for('edit', movie_id=data.movie_id) }}">Edit</a>
        <form class="inline-form" method="post" action="{{ url_for('.delete', movie_id=data.movie_id) }}">
            <input class="btn" type="submit" name="delete" value="Delete"
                   onclick="return confirm('Are you sure?')">
        </form>
    </li>
    <hr>


</ul>
{% endfor %}

<p>{{ new_combined_data|length }} Titles</p>


{% if current_user.is_authenticated %}
<form action="/" method="POST">
    <table id="actorTable">
        <input value="{{ last_movies_id }}" type="hidden" name="movie_id" autocomplete="off" required>
        <tr>
            <td><label for="movie_name">movie_name</label></td>
            <td><input type="text" class="form-control" id="movie_name" name="movie_name" autocomplete="off" required>
            </td>
        </tr>
        <tr>
            <td><label for="year">Year</label></td>
            <td><input type="text" class="form-control" id="year" name="year" autocomplete="off" required></td>
        </tr>
        <tr>
            <td><label for="release_date">release_date</label></td>
            <td><input type="text" class="form-control" id="release_date" name="release_date" autocomplete="off"
                       required></td>
        </tr>
        <tr>
            <td><label for="country">country</label></td>
            <td><input type="text" class="form-control" id="country" name="country" autocomplete="off" required></td>
        </tr>
        <tr>
            <td><label for="movie_type">type</label></td>
            <td><input type="text" class="form-control" id="movie_type" name="movie_type" autocomplete="off" required>
            </td>
        </tr>
        <tr>
            <td><label for="box">box</label></td>
            <td><input type="text" class="form-control" id="box" name="box" autocomplete="off" required></td>
        </tr>
        <tr>
            <td><label for="actors">actor</label></td>
            <td><input type="text" class="form-control" id="actor" name="actors" autocomplete="off" required></td>


            <td>
                <label for="relation">relation</label>
                <input type="text" class="form-control" id="relation" name="relations" autocomplete="off" required>
            </td>

        </tr>


        <tr>
            <td id="add_one_actor">
                <button onclick="addActorRow()">新增演员</button>
            </td>
            <td><input class="btn" type="submit" name="submit" value="Add"></td>
        </tr>
    </table>
</form>
{% endif %}

<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">
{% endblock %}


